{% extends 'base.html.twig' %}

{% block title %}Devices index{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-md  py-3" data-bs-theme="dark" style="background-color:#00000f;">
<div class="container">
	<a class="navbar-brand d-flex align-items-center" href="{{ path('app_admin') }}">
		<img src="/images/1.jpg" alt="logo" style="height:50px;">
	</a>
	<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-5">
		<span class="visually-hidden">Toggle navigation</span>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navcol-5" class="collapse navbar-collapse">
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_user_crud_index')}}">Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_devices_index')}}">Devices</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_all_commande')}}">Commandes</a>
			</li>

			
		</ul>
		<a class="btn btn-danger ms-md-2" href="{{ path('app_logout') }}">Logout</a>
	</div>
</div>
</nav>
    <h1>Devices index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Device_id</th>
                <th>Device_name</th>
                <th>Device_type</th>
                <th>Device_location</th>
                <th>Device_attribut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.deviceId }}</td>
                <td>{{ device.deviceName }}</td>
                <td>{{ device.deviceType }}</td>
                <td>{{ device.deviceLocation }}</td>
                <td>{{ device.deviceAttribut }}</td>
                <td>
                    <a href="{{ path('app_devices_show', {'id': device.id}) }}">show</a>
                    <a href="{{ path('app_devices_edit', {'id': device.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_devices_new') }}">Create new</a>
    {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
            <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
            <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          />
          <link
            rel="stylesheet"
            href="{{asset('css/styles.min.css?h=f3f5e3e0fd9b38313d60c6777e01a15a')}}"
          />
          <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block javascript %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
           <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
        <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% endblock %}
